@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  max-width: 1020px;
}
a {
  text-decoration: none;
}
.header__logo {
  flex-basis: 50%;

}
.wrapper {

}
.logo__text_decor {
  font-family: "Lato", Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.logo__text {
  padding-left: 42px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
}
.logo__symbol {
  margin-left: -4px;
  color: #f06c64;
}

.header__navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 38px;
  list-style-type: none;
}


.header__navigation li {
  display: inline;

}


.navigation__link {
  font-family: "Lato", Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: white;

}
.navigation__list li:not(:last-child):after {
  content: ".";
  color: #494e62;
  font-size: 13px;
  position: absolute;
  margin-left: 13px;
  font-weight: bold;
}

.navigation__link:after {

}

.header__wrapper {
  display: flex;
  align-items: center;
  background-color: #2d303a;
  flex-wrap: wrap;
  padding-top: 29px;
  padding-bottom: 32px;
  border-bottom: 6px solid #323746;
}
.header__navigation {
  flex-basis: 50%;
  padding-top: 10px;

}

.slider__wrapper {
  position: relative;
  display: flex;
  background-color: #f06c64;
  height: 600px;
  border-bottom: 5px solid #ea676b;
  box-sizing: border-box;
}
.slider__item1 {
   flex: 0 0 40%;
   max-width: 50%;
}
.slider__item2 {
  flex: 0 0 60%;
  max-width: 60%;
}
.slider__control {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  display: flex;
  background: url("assets/img/chev.png") no-repeat center center;
}
.slider__control-prev {
  left: 24px;
}
.slider__control-next {
  right: 24px;
  transform: rotate(180deg);
}
.slider__item {
  position: relative;
}
.slider__img {
  position: relative;

}
.slider__img1 {
  margin-left: 27.5%;
  margin-top: 13%;
}
.slider__img2 {
  margin-left: 23%;
  margin-top: 8.5%;
}
.slider__img-phone_vert {

}
.slider__img-phone_goriz {

  transform: rotate(90deg);

}
.slider__img-phone {
  position: absolute;
  z-index: 3;
}
.slider__img-bg {
  position: absolute;
  z-index: 2;
}
.slider__img-bg_yellow {
  top: 56px;
  left: 8px;
}
.slider__img-bg_blue {
  top: 128px;
  left: -75px;
}
.slider__img-shadow {
  position: absolute;
  z-index: 1;
}
.slider__img-shadow_goriz {
  transform: scale(-1,1) rotate(90deg);

}
